<div id="filters" class="pull-left">
  <input type="text" id="global_search" placeholder="search">Created<%= link_to "Go", root_path(:content_filter => "1" ), :id => "global_search_go", remote: true  %>
  <input type="text" id="user_search" placeholder="username">

  
</div>
<div id="sorts" class="pull-right">
	
	Created<%= link_to "^", root_path(:filter => "created_at", :direction => "ASC", :link_filter => "1" ), :id => "created", remote: true  %>

	Updated<%= link_to "^", root_path(:filter => "updated_at", :direction => "ASC", :link_filter => "1"), :id => "updated", remote: true  %>

</div>
<div class="clearfix"></div>

<div id="blog-posts">
  <%= render @blog_posts %>
</div>

<div class="digg_pagination">
  <%= will_paginate @blog_posts %>
</div>
