<div id="filters" class="pull-left">
  

  <%= form_tag blog_posts_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :gsearch, params[:gsearch] %>
    <%= submit_tag "Search", :name => nil, :id => 'search_submit' %>
  </p>
  <% end %>

  

</div>
<div id="sorts" class="pull-right">
	
	Created<%= link_to "^", root_path(:filter => "created_at", :direction => "ASC", :link_filter => "1" ), :id => "created", remote: true  %>

	Updated<%= link_to "^", root_path(:filter => "updated_at", :direction => "ASC", :link_filter => "1"), :id => "updated", remote: true  %>

</div>
<div class="clearfix"></div>

<div id="blog-posts">
  <%= render @blog_posts %>
</div>

<div class="digg_pagination">
  <%= will_paginate @blog_posts %>
</div>
