<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @blog_post.name %>
</p>

<p>
  <b>Title:</b>
  <%= @blog_post.title %>
</p>

<p>
  <b>Content:</b>
  <%= @blog_post.content %>
</p>

<h2>Comments</h2>
<%= render @blog_post.user_comments %>

<h2>Add a comment:</h2>
<%= render 'user_comments/comment_form' %>

<%= link_to 'Edit', edit_blog_post_path(@blog_post) %> |
<%= link_to 'Back', blog_posts_path %>
