<div class="blog-post">
    <div class="post-header"> 
        <h2><%= @blog_post.title %></h2>
        
        <div class="pull-left">
            Author:<strong><%= get_username(@blog_post.user_id) %></strong> 
        </div>
        <div class="pull-right">
            <% if user_signed_in? and is_authorized?(@blog_post.user_id) %>
                <%= link_to 'Edit', edit_blog_post_path(@blog_post) %>
            <% end %>
        </div>
        <div class="clearfix"></div>
    </div>

    <hr />
    
    <div class="post-content"> <%= @blog_post.content %> </div>
    <p>tags: <%= join_tags(@blog_post) %></p>
</div>


<div class="comments">
    <% unless @blog_post.user_comments.empty? %>
        <h2>Comments</h2>
        <div class="comments">
            <%= render @blog_post.user_comments %>
        </div>
    <% end %>

    <h3>Add a comment:</h3>
    <%= render 'user_comments/comment_form' %>

    
</div>