<div id="navigate">
    <div id="prev" class="pull-left"><%= link_to "< Prev", @prev, remote: true %></div>
    <div id="next" class="pull-right"><%= link_to "Next >", @next, remote: true %></div>
    <div class="clearfix"></div>
</div>
<div class="blog-post">
    <div class="post-header"> 
        <h2><%= @blog_post.title %></h2>
        
        <div class="pull-left">
            Author:<strong id="author"><%= get_username(@blog_post.user_id) %></strong> 
        </div>
        <div id="modification" class="pull-right">
            <% if user_signed_in? and is_authorized?(@blog_post.user_id) %>
                <%= link_to 'Edit', edit_blog_post_path(@blog_post) %>
                <%= link_to 'Delete', @blog_post, method: :delete, 
                data: { confirm: 'Are you sure?' } %>
            <% end %>
        </div>
        <div class="clearfix"></div>
    </div>

    <hr />
    
    <div class="post-content"> <%= @blog_post.content %> </div>
</div>
<br />

<% unless @blog_post.assets.empty? %>
    <div class="post-attachments">
        <h3>Attachments:</h3>
        <%= raw get_attachments(@blog_post.assets) %>
    </div>
<% end %> 

<h3>tags:</h3>
<div class="post-tags">
    <%= raw format_tags(@blog_post.tag_list) %>
</div>

<div class="post-comments">
    <% unless @blog_post.user_comments.empty? %>
        <h3>Comments:</h3>
        <div class="comments">
            <%= render @blog_post.user_comments %>
        </div>
    <% end %>
    <div class="new-comment">
        <%= render 'user_comments/comment_form' %>    
    </div>
</div>